.menuitemAccordion {
  height: 30px;
  border: 3px solid black;
  line-height: 30px;
  padding-left: 5px;
  background: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;  
  background-color: rgb(255, 85, 113);
  width: 50%;
  margin: auto;
    margin-bottom: 8px;
}

.non-clickable {
   cursor: not-allowed;
}

.contentboxAccordion {
  overflow: hidden;
  height: 0;
  transition-duration: 0.5s;
}

.contentboxAccordion-active {
  height: 100px;
}