.accordion-item {
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.accordion-button {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
    border-radius: 5px;
}

.accordion-button:hover {
    background: hotpink;
}

.accordion-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.accordion-content.active {
    height: 80px;
}

.non-clickable {
    cursor: not-allowed;
}

.non-clickable:hover {
    background: #333;
}



/*RESPONSIVITY*/

@media (max-width: 900px) {
    .accordion-item {
        width: 100%;
    }
    .accordion-content.active {
        height: 100px;
    }
}
