.filters {
    margin: auto;
    display: flex;
    gap: 12px;
    align-items: center;
}

.filter-button {
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: 4px solid transparent;
}

.filter-button.active {
    border: 4px solid #333;
}

.filters div:hover {
    opacity: 0.8;
}

#filter-reset {
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
}

.project-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
}

.project {
    width: 30%;
    min-width: 200px;
    flex-grow: 1;
    height: 100px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.project p {
    margin: 0;
}

.a {
    background: rgb(0, 165, 165);
}

.b {
    background: rgb(206, 23, 206);
}

.c {
    background: rgb(223, 155, 27);
}
