/*Sivuston perustyylittelyä*/

body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-family: sans-serif;
    color: rgb(34, 34, 34);
    position: relative;
}

h1 {
    font-family: "Source Code Pro", monospace;
}

a{
    text-decoration: none;
    color: #333;
}