/*Sivuston perustyylittelyä*/

body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-family: sans-serif;
    color: rgb(34, 34, 34);
    position: relative;
}

main {
    width: 100%;
    padding: 64px 16px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: "Source Code Pro", monospace;
}

h3{
    font-size: 1.6rem;
}

p{
    max-width: 80ch;
    line-height: 1.4;
}

a{
    text-decoration: none;
    color: #333;
}

.section-header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 20px;
}

.points{
    display: block;
    width: 50px;
    height: 50px;
    color: rgb(255, 85, 113);
    border: 3px solid rgb(255, 85, 113);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}