header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background: #efefef;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;
}

.logo {
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
    font-weight: 600;
    color: hotpink;
}

.burger {
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 10;
}

.burger-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 4px;
    background: #333;
    transition: all 0.3s ease;
}

.burger-line:nth-child(1) {
    transform: translateY(-6px);
}

.burger-line:nth-child(2) {
    transform: translateY(2px);
}

.burger.burger-open .burger-line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    background-color: white;
}

.burger.burger-open .burger-line:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
    background-color: white;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 9;
}

.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    background-color: hotpink;
    transform: translateX(100%);
    transition: 0.4s ease;
}

.nav-open {
    pointer-events: all;
}

.nav-open .nav {
    transform: translateX(0);
}

.greeting-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.greeting {
    font-size: 20vw;
    white-space: nowrap;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-list {
    width: 50%;
    height: 100%;
    background-color: #222222;
    list-style: none;
    padding: 0 32px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.nav-link {
    color: #fff;
    transition: 0.2s;
    padding: 8px 0;
    display: block;
}

.nav-link:hover {
    color: hotpink;
    transform: translateX(12px);
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .greeting-container {
        width: 100%;
        height: 20%;
    }
    .nav-list {
        width: 100%;
        max-width: 100%;
        height: 80%;
        font-size: 20px;
        box-sizing: border-box;
    }
}
