table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
thead, tbody {
    width: 70vw;
}
th, td {
    border: 1px solid white;
    padding: 15px;
    text-align: left;
}
th {
    font-weight: bold;
}